@import url('https://cdn.simplecss.org/simple.min.css');
body{
    height: 100vh;
    display: grid;
    place-items: center;
}
main{
    min-width: 400px;
}

select, 
input, 
button,
textarea{
    resize: none;
    width: 100%;
}


